.project_details {
  padding: 2em;

  h1,
  h2,
  p {
    margin-bottom: 0.5em;
  }

  h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
  }

  span {
    font-weight: bold;
  }
}

.details_container,
.service_form_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.btn {
  background-color: #222;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  max-height: 40px;
  border: none;

  &:hover {
    color: #ffbb33;
  }
}

.project_info {
  width: 100%;
}
